.App {
  text-align: center;
  font-family: 'Arial', sans-serif;
  color: #333;
  background-color: #f4f4f9;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App-header {
  background-color: #282c34;
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(12px + 2vmin);
  color: white;
}


.App-link {
  color: #61dafb;
}

/* Container for the image and text to ensure they align properly */
.Nasa-photo-wrapper {
  max-width: 600px;
  margin: 20px auto;
  text-align: center;
  padding: 20px;
  background: white;
  box-shadow: 0 4px 8px rgba(0,0, 0, 0.1);
  border-radius: 8px;
}

/* Styles for the title */
.Nasa-photo-wrapper h2 {
  font-size: 28px;
  color: #2b2b47;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

/* Styles for the explanation */
.Nasa-photo-wrapper p {
  font-size: 18px;
  color: #373535;
  line-height: 1.6;
  margin-top: 0;
  margin-bottom: 1em;
}

.content-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.responsive-image {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  margin-bottom: 20px;
}
